*{
    margin:0;
    padding:0;

}
body{
    background-color:rgb(242,242,242);
   
}
header{
 
    position: fixed;
    left:0;

    right: 0;
    top:0;
    min-height: 4em;
    
    background-color:white;
    z-index:35;
   
}
header::after{
    
    content:"";
    position: absolute;
    height:2px;
    width: 100%;
    top: 100%;
    display: block;
    z-index: 8;
    background-color:grey;
    opacity:0;
    transition: all 0.3s ease-in-out;
}
h3{
    font-family: 'Open Sans', sans-serif;
    font-weight: 200;
    color:rgb(252, 128, 45);
    font-size:calc(3vw + 1.5rem);
}
.cool::before{
     border-width:10px;
     width: 100px;
    height: 100px;
      border-color: red yellow ;
}
.anchor{
font-size:calc(0.8rem + 1vw);
}
.navigation{
    box-sizing: border-box;
    width:100%;
padding:0 1em ;
display: flex;
align-items: center;
justify-content: space-between;
}
ul{
    justify-content: space-evenly;
    width:45%;
    display:flex;
} 
nav h3 span{
    display: inline-block;
    animation: try1 10s  1 both;
}
nav i{
    
    display: inline-block;
    animation: try2 2s 10s 1 backwards;

}
@keyframes try2{
    0%{
transform:translate(0%,0%);
    }
    100%{
transform: translate(100%,-120%);
    }

}

@keyframes try1 {
    0%{
        transform: rotate(0deg) scale(0);
    }
    100%{
        transform: rotate(360deg) scale(1);
    }
    
}
ul li {
    list-style: none;

}
.anchor{
    color:grey;
text-decoration: none;
}
nav div i {

    margin-right: 10px;
    color:rgb(250, 135, 59);
font-size: calc(2.5vw + 0.5rem);
transform: rotateY(180deg);

}
nav div {
    width:35%;
display: flex;
justify-content:center;
align-items:baseline;

}
nav div h3 span{
    color: yellow;
}
/* .container{
    width:100%;
    height:50rem;
    background-image:url('img1.jpg');
    background-repeat:no-repeat ;
    background-size: cover;
    background-position: 70% ;
    background-attachment: fixed;

} */
.anchor:link,.anchor:visited{
    position: relative;
    padding:7px 0;
   

}
.anchor:link::before,.anchor:visited::before{
    
border-radius: 3.5px;
    content: " ";
    background-color: yellow;
    width:100%;
    height:7px;

    transform:scaleX(0);
    transform-origin: left;
    transition: all 1s ease-in-out;


}








.anchor:link::after,.anchor:visited:after{
 border-radius:3.5px;
    content: " ";
    background-color: yellow ;
    width:100%;
    height:7px;
    transform:scaleX(0);
      transform-origin: right;
    transition: all 1s ease-in-out;


}

.anchor:hover::before,.anchor:active::before {
    position: absolute;
    top:0;
    left:0;
  
    transform:scaleX(1);


}



.anchor:hover::after,.anchor:active::after{
 position: absolute;
    bottom:0;
    right:0;
   
    transform: scaleX(1);

}
.humburger{
    background-image :linear-gradient(45deg white,blue);
    background-color: grey;
    right:1.5em;
    top:0.7em;
    position:fixed;
    width:50px;
    height:50px;
    border-radius:50%;
    display:none;
   z-index: 40;
    align-items: center;
    justify-content: center ;
    flex-direction: column;

}
.humburger span{
    
    margin:2px 0;
    width:50%;
    height:3px;
    background-color:yellow;

}
.cards{
 width:70%;
 background-color: #cdced0;

 margin:0 auto;
 display:flex;
 flex-wrap:wrap;
 background-color:red ;
 gap:10px;
 justify-content:center;

 
 background-color: transparent;
 margin-top:0.5rem;
 z-index:-8;
 
}
.card{
    width:540px;
   
    background-color:transparent;
border-radius:10px;
box-shadow:0px 0px 10px 0.3px rgb(224, 224, 224) ;
margin-top: 10px;
transform: scale(1);
margin:1.2em;
transition: all 0.9s 0.2s ease-in-out;

}
.card:hover{
transform:scale(1.1);
}
.link1{
    margin-left: 0.5em;
    margin-top:0.5em;
    font-size: 2em;
    color:yellow;
    background-color: rgb(197, 195, 195);
    border-radius: 50%;
    height: calc(5rem + 3vw);
    width:calc(5rem + 3vw);
   
    display:flex;
    align-items:center;
    justify-content: center;
}
.link2{
    position:relative;
    margin-right: 0.7em;
    margin-top:0.3em;
    font-size: 2em;
    color:yellow;
    background-color: rgb(197, 195, 195);
    border-radius: 50%;
    height: 50px;
    width:50px;
   
    display:inline-block;
    opacity: 0;
    align-items:center;
    justify-content: center;
    text-align: end;
    transition: all 0.3s 0.3s ease-in-out;
}
.link2 i{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}
.content1{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.conl{
    
    width:100%;
    text-align:end;
}
.content1 p{
    margin:1em;
    font-size: calc(0.7rem + 0.3vw);
}
.card:hover .link2{
    opacity: 1;
}
.head.scrolled{


    box-shadow:0px 3px 10px 7px rgb(224, 224, 224) ;
}
.head.scrolled::after{
    opacity: 1;
   
    
}
.carsoul{
 position: relative;
    display: block;
overflow: hidden;

    width:100%;

    

}
.imgcontainer{
    position:relative;
width:100%;
    height:100%;

   
}
.imglist{
height: 100%;
width: 100%;
position:relative;
transition: transform 2s 0.4s ease-in-out;
}
.imgitem{
    position:absolute;
    height: 100%;
width: 100%;


}
img{
    height:inherit;
    width: inherit;
    object-fit:cover;
}
button{
    position: absolute;
    top:50%;
    transform: translateY(-50%);
    background-color:transparent;
    border: none;
    outline: none;
    z-index:5;
    
   
} 
i{
    color:yellow;
    font-size :4rem;
}
.left_btn{
left:0;
}
.right_btn{
right:0;
}
.dot{
    height: 10px;
    width: 10px;
    background-color: gray;
    border-radius:50%;

}
.current-img{
    background-color: yellow;
}
.navdots{
    
    position: absolute;
    left:50%;
  top:100%;
    width:50%;
    transform: translate(-50%,-140%);
grid-template-columns:repeat(auto-fit ,minmax(10px,1fr));
grid-gap:10px;
    display:grid;

}
.timing{
    transition: all 0s ease-in-out;
}
.centerpiece{
    height:532px;
     width:1200px;
     display: flex;
     justify-content: center;
     

     display:grid;
     grid-template-columns:repeat(15,5rem);
     grid-template-rows:repeat(13,1fr) ;
     grid-gap:12px;
     margin:auto;
    
}
.adsandcatagories{

    margin-top:8rem;
}
.carsoul{
    border-radius: 10px;
    width: 100%;
    grid-column: 4/13;
    grid-row: 2/9;
}
.catagories{
    border-radius: 10px;
    grid-column:1/4;
   width: 100%;
    grid-row:1/14;
    background-color: white;
  
}
.info{
    border-radius: 10px;
    grid-column:13/16;
  width: 100%;
    grid-row:2/14;
    background-color: red;
    display: flex;
    flex-direction:column;
    justify-content: space-evenly;
    align-items: center;
    background-color: white;

}
.ads{
    border-radius: 10px;
    grid-column: 4/13;
    grid-row: 9/14;
    background-color: green;
}
.dealtypes{
grid-column :4/13;
grid-row:1/2;
background: purple;

}
.getcoupon{
    height: 312px;
    width:90%;

    background-color:blue;
    border-radius: 10px;
    
}
.namelink{
    display:block;
text-align: center;
   
    cursor: pointer;

}
.usericonlink{
    position: relative;
text-align: center;
    height:3rem;
    width:3rem;
    display: block;
    border-radius: 50%;
    border: 1px soild black;
    
   
    cursor: pointer;
    background-color: #d3d1d1;
    overflow: hidden;


}
.usericonlink i{
 left:50%;
 bottom: 0;
 transform: translateX(-50%);
   position: absolute;

    color:rgb(255, 255, 255);
    font-size: 2.5rem;
}
.usericonlink img{
    width:inherit;
    height:inherit;
object-fit: cover;


}
.acc-mes-ord-div{

    height:76px;
    width:90%;
    display: flex;
 justify-content: space-between;
 
    
}
.acc-mes-ord-div a{
    display: flex;
    width: 69.9px;
    height:inherit;
   
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    align-items: center;
   
    
    
}
.acc-mes-ord-div  div{
height: 3rem;
width:3rem;
background-color: #d3d1d1;
display: flex;

justify-items: center;
align-items: center;
border-radius: 50%;
}
.acc-mes-ord-div a i{
display: block;
text-align: center;
width: inherit;
height:inherit;
line-height: 3rem;




    font-size: 1.5rem;
    color:rgb(54, 54, 54);
    color: white;
}
a{
    cursor: pointer;
}
.ro{
    height:40px;
    
}
.fo{
    height:20px;
    width:20px;
    line-height: 20px;
    vertical-align: middle;
}
.catagorybar{
    position: relative;
    height: 2.557rem;
    width:100%;

    
}
.catagorycontainer{
    position: absolute;
    top:50%;
    transform: translateY(-50%);
    display:flex;
    align-items: center;
}



.catagorybar span i{
    margin-left: 0.8rem;
    color:grey;
    height: 2.557rem;
    font-size: 1.5rem;
    color:black;
}

.catagorybar span h5{
    margin-left: 0.8em;  
    font-size: 14px;
    font-weight: 700;
}
.catagories-list{
    width:100%;
}
.catagory{
position: relative;
    height: 2.557rem;
    width:100%;
   
}
.catagorylinks{
    position: relative;
    height:2.557rem;
    width:100%;
}
.catagory span{
    position: absolute;
    top:50%;
   
    transform: translateY(-50%);
   
    display: flex;
    align-items: center;

    
}
.catagories i,a{
    
    color:black;
    margin-left: 0.8rem;
}
.catagorylinks i{
    font-size: 1.5rem;
    
}
.catagorylinks a{
    font-size: 14px;
}
.subcatagory{
    position: absolute;
    top: 15px;
    left:100%;
    height:532px;
    width: 1108px;
    display: none;
    background-color:white;
    border-radius: 10px;
    border: 1px solid rgb(255, 255, 255)  ;

}
 .catagory:hover .subcatagory{
    z-index:30;
    display: block;
 }

@media screen and (max-width:675px) {
    .cards{
        width: 95%;
    }
    .card{
        width:100%;
    }
   
    .navigation{
        transform-origin:left;
position: fixed;
top:0;
left:-55%;
     display:none;
     animation: bro 1s 1  both ;
    }
    @keyframes cool {
0%{
    left:-55%;
}
100%{
    left:0;
}

        
    }
    .humburger{
        display: flex;
    }    
    .navigation.clicked{
       
        display: flex;
        position:fixed;
        top:0;
        left:0;
       
        background-color:grey;
        height:100vh;
        width:50%;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;

       z-index:10;
        animation: cool 1s  1  both;
    }
    
  @keyframes bro {
    0%{
        left:0;
    }
    
    100%{
left:-55%    }
    
  }
    .navigation.clicked ul{
        width:100%;
      height:40vh;
      align-items: center;
        justify-content: space-around;

        flex-direction: column;
    }
    .navigation.clicked div{
        height: 30vh;
        width: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }
    .navigation.clicked div i{
        color: rgb(255, 255, 59);
    } 
    .navigation.clicked div h3{
        color:white;
    }
.navigation.clicked ul li a{
    color: white;
}
    
}